{% extends 'base.html.twig' %}

{% block title %}Loisirs{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block body %}
    <div class="row">
    </div>
    <div class="row">
        <div class="col m10 offset-m1 s12">
            <div class="card-panel center-align">
                <p>
                    Passionné d'informatique depuis l'enfance, je passe la majeure partie de mon temps sur des machines.
                </p>
                <p>
                    Curieux de nature, j'ai développé ma passion comme métier et reste en veille technologique constante.
                </p>
                <p>
                    Amoureux de musique, j'ai appris à jouer de la batterie en autodidacte en parallèle de mes études.
                </p>
                <p>
                    Depuis, j'ai gardé la course à pied ou bien les jeux vidéos en équipe dans mon quotidien.
                </p>

                <div class="row">
                </div>

                <div class="row">
                    <div class="card col l2 offset-l3 m4 s4">
                        <div class="card-content">
                            <i class="medium material-icons">desktop_mac</i>
                        </div>
                        <div class="card-action">
                            Informatique
                        </div>
                    </div>
                    <div class="card col l2 m4 s4">
                        <div class="card-content">
                            <i class="medium material-icons">directions_run</i>
                        </div>
                        <div class="card-action">
                            Course à pied
                        </div>
                    </div>
                    <div class="card col l2 m4 s4">
                        <div class="card-content">
                            <i class="medium material-icons">queue_music</i>
                        </div>
                        <div class="card-action">
                            Musique
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}{% endblock %}

{% block javascripts %}
{% endblock %}
